body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    color:black;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width:1200px;
    display:grid;
    position:relative;
    margin-top:300px;
    padding-bottom:100px;
}

#top-thingy{ 
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    height:auto;
    object-position: center;
    padding:60px;
    width:100%;
    background: rgb(255,239,210);
    background: radial-gradient(circle, rgba(255,239,210,1) 1%, rgba(255,210,245,1) 35%, rgba(219,213,250,1) 63%, rgba(183,215,255,1) 100%);
}

@font-face {
    font-family: Recoleta;
    src: url(Recoleta-RegularDEMO.otf);
}

@font-face {
    font-family: tangerine;
    src: url(tangerine.otf);
}

@font-face {
    font-family: travelingtypewriter;
    src: url(TravelingTypewriter.otf);
}

.toptxt {
    font-family: Recoleta;
    font-weight: bolder;
    font-size: 500%;
    color:aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px plum;
}

#outer-container{
    padding:20px;
    background: white;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    margin-top:50px;
    padding-left:160px;
    padding-right:160px;

}

.button_cont{
    margin-left:44%;
    margin-top:100px;
  }

.button {
    margin-top:15px;
    position: relative;
    background: rgb(255,239,210);
    background: radial-gradient(circle, rgba(255,239,210,1) 1%, rgba(255,210,245,1) 35%, rgba(219,213,250,1) 63%, rgba(183,215,255,1) 100%);
    color: black;
    font-weight:bold;
    border:none;
    border-radius:10px;
    box-shadow: 0 0 3px #ffffff, 0 0 5px #feecff;
    padding:10px;
    font-family:travelingtypewriter;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing:2px;
}

.quote {
    border-radius:25px;
    text-align:center;
    color:black;
    font-size: 120%;
    font-weight:bolder;
    margin-bottom:-15px;

}

.author {
    font-style: italic;
    position:relative;
    padding-top: 10px;
}

#header {
    align-items:center;
    justify-content: center;
}

* {
    box-sizing: border-box;
  }

.fotogrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }
  
.tile {
    position: relative;
    width: 200px;
    color:transparent;
    font-family:tangerine;
    text-align:center;
    display: grid; /* an inner grid */
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    margin-top:20px;
  }
  
.tile a {
    grid-row: 1; /* place in first row */
    grid-column: 1;  /* place in first column */
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.tile a:hover{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.tile img {
    object-fit: cover;
    display: block;
    height: 200px;
    width: 200px;
    border: 10px solid #feecff;
}
  
.tile h4 {
    margin: 0;
    padding: 10px 14px;
    opacity: 0;
    font-family: tangerine;
    letter-spacing: 5px;
    font-weight: bolder;
    grid-row: 1; /* place in first row */
    grid-column: 1;  /* place in first column */
    align-self: flex-start; /* take auto-width */
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
  
.tile:hover {
    color: white;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}


.tile:hover h4{
    color: white;
    opacity: 1;
    font-weight: bolder;
    background: rgb(255,239,210);
    background: radial-gradient(circle, rgba(255,239,210,1) 1%, rgba(255,210,245,1) 35%, rgba(219,213,250,1) 63%, rgba(183,215,255,1) 100%);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    text-shadow: 0 0 3px #000000, 0 0 5px #feecff
}

#joydesc {
    font-family:travelingtypewriter;
    padding-left:100px;
    padding-right:100px;
}


#pianobody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top:-75px;
  margin-bottom:-120px;

}
.pianowrapper {
  padding: 35px 40px;
  border-radius: 20px;
  background: peachpuff;
}

.pianowrapper header {
  display: flex;
  color: #B2B2B2;
  align-items: center;
  justify-content: space-between;
}

.piano-keys {
  display: flex;
  list-style: none;
  margin-top: 40px;
}
.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
}
.piano-keys .black {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
  box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
  background:linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #A2A2A2;
  font-size: 1.13rem;
  text-align: center;
}
.piano-keys .key.hide span {
  display: none;
}
.piano-keys .black span {
  bottom: 13px;
  color: #888888;
}

@media screen and (max-width: 815px) {
  .wrapper {
    padding: 25px;
  }
  .pianoheader {
    flex-direction: column;
  }
  .pianoheader :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider input {
    max-width: 100px;
  }
  .piano-keys {
    margin-top: 20px;
  }
  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}

@media screen and (max-width: 615px) {
  .piano-keys .key:nth-child(13),
  .piano-keys .key:nth-child(14),
  .piano-keys .key:nth-child(15),
  .piano-keys .key:nth-child(16),
  .piano-keys .key :nth-child(17) {
    display: none;
  }
  .piano-keys .white {
    width: 50px;
  }
}
